<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<style>

.container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

table {
    border-collapse: collapse;
    width: 100%;
    
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    border-right: 1px solid black;
    border:1px solid black;
}

th {
    background-color: #f2f2f2;
}

</style>
<body>
    <div class="container">
        <div class="wrapper">
            <h2>Playlist</h2>
            
            <table id="playlistTable">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Artwork</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <h2>Enter Song Title:</h2>
            <input type="text" id="song" />
            <button id="submit_button"  style="margin-bottom: 50px;">Submit</button>

            <h2 id="searchHeading">Songs matching:</h2>
            <div id="songdetails"></div>
        </div>
        </div>
    </div>
    <script src="js/script.js"></script>
    <script src="js/eventListeners.js"></script>
</body>

</html>
