<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<style>

.container {
            display: flex;
            flex-direction: column;
            align-items: center;
}
.container button {
    margin-top: 10px;
}


</style>
<body>
    <div class="container">
        <h2>"Welcome To Kiri's Playlist Mania"</h2>
        <label>Username:</label>
        <input type="text" id="username">
        <br>
        <label>Password:</label>
        <input type="text" id="password">
        <br>
        <div class="button-container">
            <button id="signin">Sign In</button>
            <button id="register">Register</button>
        </div>
        </div>
    </div>

    <script src="js/script.js"></script>
    <script src="js/eventListenersRegister.js"></script>
    <script src="js/makeHTML.js"></script>
</body>

</html>
